<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0"
	package="org.golang.todo.virtual_gamepad"
	platformBuildVersionCode="15"
	platformBuildVersionName="4.0.4-1406430">
	<application
		android:label="Virtual-Gamepad"
		android:debuggable="true">
		<activity
      android:label="Virtual-Gamepad"
			android:name="org.golang.app.GoNativeActivity"
			android:configChanges="0x000000A0"
      android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<meta-data
        android:name="android.app.lib_name"
				android:value="virtual_gamepad">
			</meta-data>
			<intent-filter>
				<action
          android:name="android.intent.action.MAIN">
				</action>
				<category
          android:name="android.intent.category.LAUNCHER">
				</category>
			</intent-filter>
		</activity>
	</application>
</manifest>
